{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <title>Home Page</title>
</head>
<body>
    <!------ Sidebar ------>
    <div class="container_sidebar">
        <div class="sidebar">
            <nav class="nav flex-column">
                <ul>
                    <li>
                        <a class="nav-link py-3 border-bottom rounded-0" id="menu" href="#">
                            <span class="icon">
                                <i class="bi bi-list"></i>
                            </span>
                            <span class="description">Menu</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link active py-3 border-bottom rounded-0" href="{% url 'AccountingSystem:index' %}" >
                            <span class="icon">
                                <i class="bi bi-house"></i>
                            </span>
                            <span class="description">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'AccountingSystem:accounts' %}">
                            <span class="icon">
                                <i class="bi bi-file-earmark-spreadsheet"></i>
                            </span>
                            <span class="description">Accounts</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'AccountingSystem:journals' %}">
                            <span class="icon">
                                <i class="bi bi-journal-bookmark"></i>
                            </span>
                            <span class="description">Journal</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'AccountingSystem:ledgers' %}">
                            <span class="icon">
                                <i class="bi bi-cash-stack"></i>
                            </span>
                            <span class="description">Ledgers</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'AccountingSystem:files' %}">
                            <span class="icon">
                                <i class="bi bi-folder2"></i>
                            </span>
                            <span class="description">Files</span>
                        </a>
                    </li>
                </ul>        
            </nav>
        </div>
    </div>
    <!------ Sidebar End ------>

    <!------ Main Page ------>
    <main class="main-content">
        <h2>Accounting System</h2>
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'error' %}alert-danger
                {% elif message.tags == 'success' %}alert-success
                {% else %}alert-info{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <a href="{% url 'AccountingSystem:logout' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
            </svg>
        </a>

    </main>
    <!------ Main Page End ------>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>