{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <title>Journal Entries</title>
</head>
<body>
    <!------ Sidebar ------>
    <div class="sidebar">
        <nav class="nav flex-column">
            <ul>
                <li>
                    <a class="nav-link py-3 border-bottom rounded-0" id="menu" href="#">
                        <span class="icon">
                            <i class="bi bi-list"></i>
                        </span>
                        <span class="description">Menu</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'AccountingSystem:index' %}" >
                        <span class="icon">
                            <i class="bi bi-house"></i>
                        </span>
                        <span class="description">Home</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'AccountingSystem:accounts' %}">
                        <span class="icon">
                            <i class="bi bi-file-earmark-spreadsheet"></i>
                        </span>
                        <span class="description">Accounts</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link active py-3 border-bottom rounded-0" href="{% url 'AccountingSystem:journals' %}">
                        <span class="icon">
                            <i class="bi bi-journal-bookmark"></i>
                        </span>
                        <span class="description">Journal</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'AccountingSystem:ledgers' %}">
                        <span class="icon">
                            <i class="bi bi-cash-stack"></i>
                        </span>
                        <span class="description">Ledgers</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'AccountingSystem:files' %}">
                        <span class="icon">
                            <i class="bi bi-folder2"></i>
                        </span>
                        <span class="description">Files</span>
                    </a>
                </li>
            </ul>        
        </nav>
    </div>
    <!------ Sidebar End ------>

    <!------ Main Page ------>
    <main class="main-content">
        <h2>Journal Entries</h2>


        <!-- Button trigger modal -->
        <div class="add_journalBTN">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Add New Journal
            </button>
        </div>
        <br>
        <!---Show Journal Entries if there are any --->
        <div class="display_table">
            <table class="table table-bordered">
                {% for group in journal_groups %}
                <table class="table table-bordered mb-4">
                    <thead class="table-light">
                        <tr>
                            <th><strong>Journal Code:</strong> {{ group.header.entry_no }}</th>
                            <th><strong>Date Created/Updated:</strong> {{ group.header.journal_date_created }}</th>
                            <th colspan="2" class="text-end">
                                <button type="button" class="btn btn-primary btn-sm"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#EDITstaticBackdrop"  
                                    data-id="{{ group.header.id }}"
                                     data-entries='[{% for entry in group.list %}
                                            {"account_id": "{{ entry.account.id }}", "account_name": "{{ entry.account.account_name }}", "account_type": "{{ entry.account.account_type }}", "debit": "{{ entry.debit }}", "credit": "{{ entry.credit }}"}
                                            {% if not forloop.last %},{% endif %}
                                        {% endfor %}]'>
                                    Edit
                                </button>
                                &nbsp;
                                <button name="delete" class="btn btn-danger btn-sm" value="{{ group.header.id }}">Delete</button>
                            </th>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Account Name</th>
                            <th>Debit</th>
                            <th>Credit</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for journal_entry in group.entries %}
                        <tr>
                            <td>{{ journal_entry.journal_header.entry_date }}</td>
                            <td>{{ journal_entry.account.account_name }}</td>
                            <td>{{ journal_entry.debit|floatformat:2 }}</td>
                            <td>{{ journal_entry.credit|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="{% if group.total_debit == group.total_credit %}table-success{% else %}table-danger{% endif %}">
                            <td colspan="1"><strong>Description:</strong> {{ group.header.journal_description }}</td>                            
                            <td colspan="1" class="text-end">Totals = </td>
                            <td><strong>{{ group.total_debit|floatformat:2 }}</strong></td>
                            <td><strong>{{ group.total_credit|floatformat:2 }}</strong></td>
                        </tr>
                    </tbody>
                </table>
                {% empty %}
                <p>No Journal Entries are created.</p>
                {% endfor %}
            </table>
        </div>

        <!-- Insert Journal Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Journal Entry</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="journal-form">
                <form action="{% url 'AccountingSystem:insert_journals' %}" method="post" id="journal_form">
                    {% csrf_token %}
                    <!-- Journal Code -->
                     <label for="journal_code">Journal Code:</label>
                    <input id="journal_code" type="text" name="journal_code" readonly required> <br><br>
                    <!-- Entry Date -->
                    <label for="entry-date">Date:</label>
                    <input type="date" id="entry-date" name="entry-date" required><br><br>

                    <!-- Journal Entry Table -->
                    <table class="table table-bordered border-dark" id="journal-entry-table">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Account Type</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="journal-entry-body">
                            <tr>
                                <td>
                                    <select id="selected-account_name" name="account_name" required>
                                        {% for account in accounts %}
                                            {% if account.account_type == "Assets" or account.account_type == "Expenses" %}
                                                <option value="{{ account.id }}" data-type="{{ account.account_type }}">{{ account.account_name }}</option>
                                            {% endif %}
                                                {% empty %}
                                                <option value="" disabled>No Accounts Created</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="account_type" name="account_type" readonly>
                                </td>
                                <td><input type="number" id="debit" name="debit" step="0.01" min="0"></td>
                                <td><input type="number" id="credit" name="credit" step="0.01" min="0" readonly></td>
                                <td>
                                    <!-- Remove row button will be added by JS -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <td><!-- Description -->
                                <label for="description">Description:</label><br>
                                <input type="text" id="journal_description" name="journal_description" placeholder="E.g., Rent payment, invoice received..." required> <br><br>
                            </td>
                            <td>
                                <label for="total">Total Debit:</label>
                                <input type="number" id="total_debit" name="total_debit" readonly>
                            </td>
                            <td>
                                <label for="total">Total Credit:</label>
                                <input type="number" id="total_credit" name="total_credit" readonly>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-info btn-sm" id="add-journal-row">Add Row</button>
                    <button type="button" id="clear-amounts-btn" class="btn btn-warning btn-sm">Clear Amounts</button>
                    <br>
                    <br>
                    <select id="all-accounts-select" name="account_name" style="display:none;">
                        {% for account in accounts %}
                            <option value="{{ account.id }}" data-type="{{ account.account_type }}">{{ account.account_name }}</option>
                        {% endfor %}
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- Insert Journal Modal End -->

        <!--EDIT Account Modal -->
        <div class="modal fade" id="EDITstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EDITstaticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="EDITstaticBackdropLabel">Update Journal Entry</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="journal-form">
                <form action="{% url 'AccountingSystem:update_journal' %}" method="post" id="edit_journal_form">
                    {% csrf_token %}
                    <!-- Entry Date -->
                    <label for="entry-date">Date:</label>
                    <input type="date" id="edit-entry-date" name="entry-date" required><br><br>

                    <!-- Journal Entry Table -->
                    <table class="table table-bordered border-dark" id="edit-journal-entry-table">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Account Type</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="edit-journal-entry-body">
                            <tr>
                                <td>
                                    <select id="selected-account_name" name="edit_account_name" required>
                                        {% for account in accounts %}
                                            {% if account.account_type == "Assets" or account.account_type == "Expenses" %}
                                                <option value="{{ account.id }}" data-type_edit="{{ account.account_type }}">{{ account.account_name }}</option>
                                            {% endif %}
                                                {% empty %}
                                                <option value="" disabled>No Accounts Created</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="account_type" name="edit_account_type" readonly>
                                </td>
                                <td><input type="number" id="debit" name="edit_debit" step="0.01" min="0"></td>
                                <td><input type="number" id="credit" name="edit_credit" step="0.01" min="0" readonly></td>
                                <td>
                                    <!-- Remove row button will be added by JS -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <td><!-- Description -->
                                <label for="description">Description:</label><br>
                                <input type="text" id="journal_description" name="journal_description" placeholder="E.g., Rent payment, invoice received..." required> <br><br>
                            </td>
                            <td>
                                <label for="total">Total Debit:</label>
                                <input type="number" id="edit_total_debit" name="total_debit" readonly>
                            </td>
                            <td>
                                <label for="total">Total Credit:</label>
                                <input type="number" id="edit_total_credit" name="total_credit" readonly>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-info btn-sm" id="edit-add-journal-row">Add Row</button>
                    <button type="button" id="edit-clear-amounts-btn" class="btn btn-warning btn-sm">Clear Amounts</button>
                    <br>
                    <br>
                    <select id="edit-all-accounts-select" name="edit_account_name" style="display:none;">
                        {% for account in accounts %}
                            <option value="{{ account.id }}" data-type="{{ account.account_type }}">{{ account.account_name }}</option>
                        {% endfor %}
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- End EDIT Modal -->
        

    </main>
    <!------ Main Page End ------>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/insert_journal.js' %}"></script>
    <script src="{% static 'scripts/update_journal.js' %}"></script>
</body>
</html>