{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/journal.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>Journal Entries</title>
</head>
<body>
    <!------ Sidebar ------>
    <div class="sidebar">
        <nav class="nav flex-column">
            <ul>
                <li>
                    <a class="nav-link" id="menu" href="#">
                        <span class="icon">
                            <i class="bi bi-list"></i>
                        </span>
                        {% if request.user.profile.role == 'admin' %}
                            <span class="description">Admin</span>
                        {% elif request.user.profile.role == 'teacher' %}
                            <span class="description">Teacher</span>
                        {% elif request.user.profile.role == 'student' %}
                            <span class="description">Student</span>
                        {% endif %}
                    </a>
                </li>
                {% if request.user.profile.role == 'admin' %}
                <li>
                    <a class="nav-link" href="{% url 'AccountingSystem:admin_dashboard' %}">
                        <span class="icon">
                            <i class="bi bi-house"></i>
                        </span>
                        <span class="description">Home</span>
                    </a>
                </li>
                {% elif request.user.profile.role == 'teacher' %}
                <li>
                    <a class="nav-link" href="{% url 'AccountingSystem:teacher_dashboard' %}">
                        <span class="icon">
                            <i class="bi bi-house"></i>
                        </span>
                        <span class="description">Home</span>
                    </a>
                </li>
                {% elif request.user.profile.role == 'student' %}
                <li>
                    <a class="nav-link" href="{% url 'AccountingSystem:student_dashboard' %}">
                        <span class="icon">
                            <i class="bi bi-house"></i>
                        </span>
                        <span class="description">Home</span>
                    </a>
                </li>
                {% endif %}

                {% if request.user.profile.role == 'student' %}
                <li>
                    <a class="nav-link" href="{% url 'AccountingSystem:accounts_students' %}">
                        <span class="icon">
                            <i class="bi bi-file-earmark-spreadsheet"></i>
                        </span>
                        <span class="description">Accounts</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="nav-link" href="{% url 'AccountingSystem:accounts' %}">
                        <span class="icon">
                            <i class="bi bi-file-earmark-spreadsheet"></i>
                        </span>
                        <span class="description">Accounts</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a class="nav-link active" href="{% url 'AccountingSystem:journals' %}">
                        <span class="icon">
                            <i class="bi bi-journal-bookmark"></i>
                        </span>
                        <span class="description">Journal</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'AccountingSystem:ledgers' %}">
                        <span class="icon">
                            <i class="bi bi-card-list"></i>
                        </span>
                        <span class="description">Ledgers</span>
                    </a>
                </li>
                <!--
                <li>
                    <a class="nav-link" href="{% url 'AccountingSystem:balance' %}">
                        <span class="icon">
                            <i class="bi bi-cash-stack"></i>
                        </span>
                        <span class="description">Balance</span>
                    </a>
                </li>
                -->
                <li>
                    <a class="nav-link" id="outlog" href="{% url 'AccountingSystem:logout' %}">
                        <span class="icon">
                            <i class="bi bi-box-arrow-in-left"></i>
                        </span>
                        <span class="description">Log Out</span>
                    </a>
                </li>
            </ul>        
        </nav>
    </div>
    <!------ Sidebar End ------>

    <!------ Main Page ------>
    <main class="main-content">
        <h2>Journal Entries</h2>


        <!-- Button trigger modal -->
        <div class="add_journalBTN">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Add New Journal
            </button>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-info-circle-fill"></i>
            </button>
        </div>
        <br>
        <!-- tabs for drafts/approved -->
        <ul class="nav nav-tabs" id="journalTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="draft-tab" data-bs-toggle="tab" data-bs-target="#draft" type="button" role="tab" aria-controls="draft" aria-selected="true">
              Drafts
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="approved-tab" data-bs-toggle="tab" data-bs-target="#approved" type="button" role="tab" aria-controls="approved" aria-selected="false">
              Approved
            </button>
          </li>
        </ul>
        <div class="tab-content" id="journalTabContent">
          <div class="tab-pane fade show active" id="draft" role="tabpanel" aria-labelledby="draft-tab">
            <div class="display_table">
                <table class="table table-bordered">
                    {% for group in draft_groups %}
                    <table class="table table-bordered mb-4">
                        <thead class="table-light">
                            <tr>
                                <th><strong>Journal Code:</strong> {{ group.header.entry_no }}</th>
                                <th><strong>Date Created:</strong> {{ group.header.journal_date_created }}</th>
                                <th colspan="2" class="text-end">
                                    <a href="{% url 'AccountingSystem:journal_pdf' group.header.id %}" class="btn btn-success btn-sm" target="_blank"><i class="bi bi-file-earmark-pdf"></i> Download as PDF</a>
                                    &nbsp;
                                    <button type="button" class="btn btn-primary btn-sm" id="edit_button"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#EDITstaticBackdrop"  
                                        data-id="{{ group.header.id }}"
                                        data-date="{{ group.header.entry_date }}"
                                        data-description="{{ group.header.journal_description }}"
                                        data-totaldebit="{{ group.total_debit }}"
                                        data-totalcredit="{{ group.total_credit }}"
                                        data-entrycount="{{ group.entries.count }}"
                                        data-group="{{ group.header.group_name.id }}"
                                        data-group-name="{{ group.header.group_name.group_name }}"
                                        data-is-draft="true"
                                        >
                                        Edit
                                    </button>

                                    <!-- Hidden table to store entry data -->
                                    <table class="d-none" id="entries_{{ group.header.id }}">
                                        {% for entry in group.entries %}
                                            <tr data-account-id="{{ entry.account.id }}"
                                                data-account-name="{{ entry.account.account_name }}"
                                                data-account-type="{{ entry.account.account_type }}"
                                                data-debit="{{ entry.debit }}"
                                                data-credit="{{ entry.credit }}">
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    &nbsp;
                                    {% if request.user.profile.role == 'admin' or request.user.profile.role == 'teacher' %}
                                    <a href="{% url 'AccountingSystem:approve_journal_draft' group.header.id %}" class="btn btn-success btn-sm" onclick="return confirm('Are you sure you want to approve this journal?');"><i class="bi bi-check-circle"></i> Approve</a>
                                    &nbsp;
                                    {% endif %}
                                    <form action="{% url 'AccountingSystem:delete_journal_draft' group.header.id %}" method="post" class="d-inline" onsubmit="return confirmDeleteJournal();">
                                        {% csrf_token %}
                                        <button name="delete" class="btn btn-danger btn-sm">
                                            Delete
                                        </button>
                                    </form>   
                                </th>
                            </tr>
                            <tr>
                                <th>Date: {{ group.header.entry_date }} | Created by: {{ group.header.user.first_name }}</th>
                                <th>Account Name</th>
                                <th>Debit</th>
                                <th>Credit</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for journal_entry in group.entries %}
                            <tr>
                                <td></td>
                                <td>{{ journal_entry.account.account_name }}</td>
                                <td>{{ journal_entry.debit|floatformat:2 }}</td>
                                <td>{{ journal_entry.credit|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                            <tr class="{% if group.total_debit == group.total_credit %}table-success{% else %}table-danger{% endif %}">
                                <td colspan="1"><strong>Description:</strong> {{ group.header.journal_description }}</td>                            
                                <td colspan="1" class="text-end">Totals = </td>
                                <td><strong>{{ group.total_debit|floatformat:2 }}</strong></td>
                                <td><strong>{{ group.total_credit|floatformat:2 }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    {% empty %}
                    <p>No Journal Entries Drafts are created.</p>
                    {% endfor %}
                </table>
            </div>
          </div>
          <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
            <div class="display_table">
                <table class="table table-bordered">
                    {% for group in approved_groups %}
                    <table class="table table-bordered mb-4">
                        <thead class="table-light">
                            <tr>
                                <th><strong>Journal Code:</strong> {{ group.header.entry_no }}</th>
                                <th><strong>Date Created:</strong> {{ group.header.journal_date_created }}</th>
                                <th colspan="2" class="text-end">
                                    <a href="{% url 'AccountingSystem:journal_pdf' group.header.id %}" class="btn btn-success btn-sm" target="_blank"><i class="bi bi-file-earmark-pdf"></i> Download as PDF</a>
                                    &nbsp;
                                    {% if request.user.profile.role == 'admin' or request.user.profile.role == 'teacher' %}
                                    <button type="button" class="btn btn-primary btn-sm" id="edit_button"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#EDITstaticBackdrop"  
                                        data-id="{{ group.header.id }}"
                                        data-date="{{ group.header.entry_date }}"
                                        data-description="{{ group.header.journal_description }}"
                                        data-totaldebit="{{ group.total_debit }}"
                                        data-totalcredit="{{ group.total_credit }}"
                                        data-entrycount="{{ group.entries.count }}"
                                        data-group="{{ group.header.group_name.id }}"
                                        data-group-name="{{ group.header.group_name.group_name }}"
                                        >
                                        Edit
                                    </button>
                                    {% endif %}

                                    <!-- Hidden table to store entry data -->
                                    <table class="d-none" id="entries_{{ group.header.id }}">
                                        {% for entry in group.entries %}
                                            <tr data-account-id="{{ entry.account.id }}"
                                                data-account-name="{{ entry.account.account_name }}"
                                                data-account-type="{{ entry.account.account_type }}"
                                                data-debit="{{ entry.debit }}"
                                                data-credit="{{ entry.credit }}">
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    &nbsp;
                                    {% if request.user.profile.role == 'admin' or request.user.profile.role == 'teacher' %}
                                    <form action="{% url 'AccountingSystem:delete_journal' group.header.id %}" method="post" class="d-inline" onsubmit="return confirmDeleteJournal();">
                                        {% csrf_token %}
                                        <button name="delete" class="btn btn-danger btn-sm">
                                            Delete
                                        </button>
                                    </form>
                                    {% endif %}    
                                </th>
                            </tr>
                            <tr>
                                <th>Date: {{ group.header.entry_date }} | Created by: {{ group.header.user.first_name }}</th>
                                <th>Account Name</th>
                                <th>Debit</th>
                                <th>Credit</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for journal_entry in group.entries %}
                            <tr>
                                <td></td>
                                <td>{{ journal_entry.account.account_name }}</td>
                                <td>{{ journal_entry.debit|floatformat:2 }}</td>
                                <td>{{ journal_entry.credit|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                            <tr class="{% if group.total_debit == group.total_credit %}table-success{% else %}table-danger{% endif %}">
                                <td colspan="1"><strong>Description:</strong> {{ group.header.journal_description }}</td>                            
                                <td colspan="1" class="text-end">Totals = </td>
                                <td><strong>{{ group.total_debit|floatformat:2 }}</strong></td>
                                <td><strong>{{ group.total_credit|floatformat:2 }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    {% empty %}
                    <p>No Journal Entries are approved yet.</p>
                    {% endfor %}
                </table>
            </div>
          </div>
        </div>

        <!-- Insert Journal Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Journal Entry</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="journal-form">
                <form action="{% url 'AccountingSystem:insert_journals' %}" method="post" id="journal_form">
                    {% csrf_token %}
                    <!-- Journal Code -->
                     <label for="journal_code">Journal Code:</label>
                    <input id="journal_code" type="text" name="journal_code" class="form-control" readonly required> <br>
                    <!-- Entry Date -->
                    <label for="entry-date">Date:</label>
                    <input type="date" id="entry-date" name="entry-date" class="form-control" required> <br>

                    <!-- Account Group Filter (Insert) -->
                    <label for="account_group_filter">Account Group:</label>
                    <select id="account_group_filter" name="account_group" class="form-select mb-2" required>
                        {% for group in account_groups %}
                            <option value="{{ group.id }}">{{ group.group_name }}</option>
                        {% empty %}
                            <option value="" disabled>No Accounts Groups Created</option>
                        {% endfor %}
                    </select>
                    <br>
                    <!-- Journal Entry Table -->
                    <table class="table table-bordered border-dark" id="journal-entry-table">
                        <thead class="table-primary text-center">
                            <tr>
                                <th scope="col">Account Name</th>
                                <th scope="col">Account Type</th>
                                <th scope="col">Debit</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="journal-entry-body">
                            <tr>
                                <td>
                                    <select id="selected-account_name" class="form-select" name="account_name" required>
                                        {% for account in accounts %}
                                                <option value="{{ account.id }}" data-type="{{ account.account_type }}" data-group="{{ account.group_name_id }}">{{ account.account_name }}</option>
                                                {% empty %}
                                                <option value="" disabled>No Accounts Created</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="account_type" name="account_type" class="form-control" readonly>
                                </td>
                                <td><input type="number" id="debit" name="debit" step="0.01" min="0" class="form-control"></td>
                                <td><input type="number" id="credit" name="credit" step="0.01" min="0" class="form-control" readonly></td>
                                <td>
                                    <!-- Remove row button will be added by JS -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <td><!-- Description -->
                                <label for="description">Description:</label><br>
                                <input type="text" id="journal_description" name="journal_description" class="form-control" placeholder="E.g., Rent payment, invoice received..." required> <br><br>
                            </td>
                            <td>
                                <label for="total">Total Debit:</label>
                                <input type="number" id="total_debit" name="total_debit" class="form-control" readonly>
                            </td>
                            <td>
                                <label for="total">Total Credit:</label>
                                <input type="number" id="total_credit" name="total_credit" class="form-control" readonly>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-info btn-sm" id="add-journal-row">Add Row</button>
                    <button type="button" id="clear-amounts-btn" class="btn btn-warning btn-sm">Clear Amounts</button>
                    <br>
                    <br>
                    <select id="all-accounts-select" name="account_name" class="form-select" style="display:none;">
                        {% for account in accounts %}
                            <option value="{{ account.id }}" data-type="{{ account.account_type }}" data-group="{{ account.group_name_id }}">{{ account.account_name }}</option>
                            {% empty %}
                            <option value="" disabled>No Accounts Created</option>
                        {% endfor %}
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- Insert Journal Modal End -->

        <!--EDIT Journal Modal -->
        <div class="modal fade" id="EDITstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EDITstaticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="EDITstaticBackdropLabel">Update Journal Entry</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="journal-form">
                <form method="post" id="edit_journal_form">
                    {% csrf_token %}

                    <!-- Account Group Display -->
                    <label for="edit_account_group_display">Account Group:</label>
                    <input type="text" id="edit_account_group_display" class="form-control" readonly> <br>

                    <!-- Hidden filter field to store group_id -->
                    <select id="edit_account_group_filter" name="edit_account_group_filter" style="display:none;" required>
                        {% for group in account_groups %}
                            <option value="{{ group.id }}">{{ group.group_name }}</option>
                        {% empty %}
                            <option value="" disabled>No Accounts Groups Created</option>
                        {% endfor %}
                    </select>

                    <!-- Entry Date -->
                    <label for="entry-date">Date:</label>
                    <input type="date" id="edit-entry-date" name="edit_entry-date" class="form-control" required> <br>


                    <!-- Journal Entry Table -->
                    <table class="table table-bordered border-dark" id="edit-journal-entry-table">
                        <thead class="table-primary text-center">
                            <tr>
                                <th scope="col">Account Name</th>
                                <th scope="col">Account Type</th>
                                <th scope="col">Debit</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="edit-journal-entry-body">
                                    <tr>
                                <input type="hidden" id="je_id" name="je_id">
                                <td>
                                    <select id="edit_selected-account_name" name="edit_account_name" required>
                                        {% for account in accounts %}
                                                <option value="{{ account.id }}" data-type_edit="{{ account.account_type }}" data-group="{{ account.group_name_id }}">{{ account.account_name }}</option>
                                                {% empty %}
                                                <option value="" disabled>No Accounts Created</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="edit_account_type" name="edit_account_type" readonly>
                                </td>
                                <td><input type="number" id="edit_debit" name="edit_debit" step="0.01" min="0"></td>
                                <td><input type="number" id="edit_credit" name="edit_credit" step="0.01" min="0" readonly></td>
                                <td>
                                    <!-- Remove row button will be added by JS -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <td><!-- Description -->
                                <label for="description">Description:</label><br>
                                <input type="text" id="edit_journal_description" name="edit_journal_description" class="form-control" placeholder="E.g., Rent payment, invoice received..." required> <br><br>
                            </td>
                            <td>
                                <label for="total">Total Debit:</label>
                                <input type="number" id="edit_total_debit" name="edit_total_debit" class="form-control" readonly>
                            </td>
                            <td>
                                <label for="total">Total Credit:</label>
                                <input type="number" id="edit_total_credit" name="edit_total_credit" class="form-control" readonly>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-info btn-sm" id="edit-add-journal-row">Add Row</button>
                    <button type="button" id="edit-clear-amounts-btn" class="btn btn-warning btn-sm">Clear Amounts</button>
                    <br>
                    <br>
                    <select id="edit-all-accounts-select" name="edit_account_name" style="display:none;" required>
                        {% for account in accounts %}
                            <option value="{{ account.id }}" data-type_edit="{{ account.account_type }}" data-group="{{ account.group_name_id }}">{{ account.account_name }}</option>
                        {% endfor %}
                    </select>
                    <select id="edit-debit-accounts" name="edit_account_name" style="display:none;" required>
                        {% for account in accounts %}
                            <option value="{{ account.id }}" data-type_edit="{{ account.account_type }}" data-group="{{ account.group_name_id }}">{{ account.account_name }}</option>
                        {% endfor %}
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- End EDIT Modal -->
        
        <!-- Information Modal for Journal Entries -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Journal Entries Basic Information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="text-align: justify;">
                        A <strong>Journal Entry</strong> records a financial transaction, made up of one or more lines (debits and credits) that must balance (total debits = total credits). The account names are from the <strong>Chart of Accounts</strong>. 
                    </p>
                    <p>First row should be a debit input.</p>
                    <p>Last row should be a credit input.</p>
                    <p>There shouldn't be empty debit and credit values</p>
                    <p>Action column has a remove button whenever you need to delete the row. Note that the 1st row cannot be removed.</p>
                    <p>You cannot simultaneously enter debit and credit values on the same row.</p>
                    <h5>Sample Insert Journal Entry Form</h5>
                    <table class="table table-bordered border-dark">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Account Type</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                                <td>
                                    <select id="edit_selected-account_name" name="edit_account_name" class="form-select" aria-readonly="true" disabled>
                                            <option value=""></option>
                                    </select>
                                </td>
                                <td><input type="text" id="edit_account_type" name="edit_account_type" class="form-control" readonly></td>
                                <td><input type="number" id="edit_debit" name="edit_debit" step="0.01" min="0" class="form-control" readonly></td>
                                <td><input type="number" id="edit_credit" name="edit_credit" step="0.01" min="0" class="form-control" readonly></td>
                                <td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <td>
                            <label for="description">Description:</label><br>
                            <input type="text" id="{% if mode == 'edit' %}edit_journal_description{% else %}journal_description{% endif %}"
                                name="{% if mode == 'edit' %}edit_journal_description{% else %}journal_description{% endif %}"
                                class="form-control" placeholder="E.g., Rent payment, invoice received..." required>
                        </td>
                        <td>
                            <label>Total Debit:</label>
                            <input type="number" id="{% if mode == 'edit' %}edit_total_debit{% else %}total_debit{% endif %}" name="{% if mode == 'edit' %}edit_total_debit{% else %}total_debit{% endif %}" class="form-control" readonly>
                        </td>
                        <td>
                            <label>Total Credit:</label>
                            <input type="number" id="{% if mode == 'edit' %}edit_total_credit{% else %}total_credit{% endif %}" name="{% if mode == 'edit' %}edit_total_credit{% else %}total_credit{% endif %}" class="form-control" readonly>
                        </td>
                    </tr>
                </table>

                <p>Learn more about Journal Entries:</p>
                <p>Some information are from <a href="https://www.investopedia.com/terms/j/journal.asp" target="_blank">Investiopedia</a>.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

        <!-- End of Information Modal -->


    </main>
    <!------ Main Page End ------>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/JE_account_group_filter.js' %}"></script>
    <script src="{% static 'scripts/insert_journal.js' %}"></script>
    <script src="{% static 'scripts/update_journal.js' %}"></script>
    <script src="{% static 'scripts/delete_journal.js' %}"></script>
</body>
</html>