{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Login Page</title>
</head>
<body class="loginPage">
    <div class="top_section">
        <nav class="navbar">

        </nav>
    </div>
    <div class="login_container">
        <div id="login_topbar">
            <p>ACLC Accounting System</p>
        </div>
        <form action="{% url 'AccountingSystem:login' %}" method="POST">
            {% csrf_token %}
            <div class="input_box">
                <input type="text" name="usn" id="usn" required placeholder="Enter USN" autofocus>
                <input type="password" name="password" id="password" required placeholder="Enter Password">
                <input type="submit" value="Login" class="loginBTN">
            </div>
        </form>
    </div>
    {{ message }}
</body>
</html>