body{
    background-color: #FFF8F6;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Login Page */

.top_section {
    height: 80px;
    background-color: #8E110B;
    margin-bottom: 120px;
}

.login_container {
    background-color: #fef9f9;
    padding: 30px 40px;            /* internal spacing */
    width: 100%;
    max-width: 400px;              /* controls form width */
    border-radius: 20px;
    box-shadow: 1px 2px 12px gray;
}

.login_container form {
    width: 100%;
}

.login_container .btn  {
    width: 100%;               /* make button fill the form width */
}

#login_topbar {
    background-color: #8E110B;
    border-radius: 20px 20px 0 0;
    width: auto;
    margin: auto;
    height: 53px;
    float: absolute;
    display: flex;
    justify-content: center;
}

#login_topbar p {
    color: #FFF8F6;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: Inter;
}

.input_box{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.input_box input {
    border-radius: 10px;
    padding: 6px;
    margin: 10px;
    border: 0.5px solid;
    width: 250px;
    font-size: 16px;
    box-shadow: #311413;
}

.loginBTN {
    border-radius: 10px;
    padding: 6px;
    background-color: #8E110B;
    color: #FFF8F6;
    font-size: 20px;
    border: none;
    width: 100px;
    font-family: Inter;
    cursor: pointer;
}

.password-container {
    position: relative;
}
.password-container i {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 100%;
}

.password-container button {
    background-color: #FFF8F6;
    border: #FFF8F6;
}
